apiVersion: apps/v1
kind: Deployment
metadata:
  name: productcatalogservice
  namespace: default
  labels:
    app: productcatalogservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: productcatalogservice
  template:
    metadata:
      labels:
        app: productcatalogservice
    spec:
      containers:
        - name: productcatalogservice
          image: rakesh6nm/productcatalogservice:latest
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: productcatalogservice-nodeport
  namespace: default
spec:
  type: NodePort
  selector:
    app: productcatalogservice
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30300
