apiVersion: apps/v1
kind: Deployment
metadata:
  name: loadgenerator
  namespace: default
  labels:
    app: loadgenerator
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: loadgenerator
  template:
    metadata:
      labels:
        app: loadgenerator
    spec:
      containers:
        - name: loadgenerator
          image: rakesh6nm/loadgenerator:3
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: loadgenerator-service
  namespace: default
spec:
  type: NodePort
  selector:
    app: loadgenerator
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30100  # NodePort exposed
