apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendationservice
  namespace: default
  labels:
    app: recommendationservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recommendationservice
  template:
    metadata:
      labels:
        app: recommendationservice
    spec:
      containers:
        - name: recommendationservice
          image: rakesh6nm/recommendationservice:3
          ports:
            - containerPort: 5000
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: recommendationservice-nodeport
  namespace: default
spec:
  type: NodePort
  selector:
    app: recommendationservice
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30500
