apiVersion: apps/v1
kind: Deployment
metadata:
  name: shippingservice
  namespace: default
  labels:
    app: shippingservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shippingservice
  template:
    metadata:
      labels:
        app: shippingservice
    spec:
      containers:
        - name: shippingservice
          image: rakesh6nm/shippingservice:latest
          ports:
            - containerPort: 5005
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: shippingservice-nodeport
  namespace: default
spec:
  type: NodePort
  selector:
    app: shippingservice
  ports:
    - port: 5005
      targetPort: 5005
      nodePort: 30505
