apiVersion: apps/v1
kind: Deployment
metadata:
  name: paymentservice
  namespace: default
  labels:
    app: paymentservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: paymentservice
  template:
    metadata:
      labels:
        app: paymentservice
    spec:
      containers:
        - name: paymentservice
          image: rakesh6nm/paymentservice:latest  # updated automatically
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: paymentservice-nodeport
  namespace: default
spec:
  type: NodePort
  selector:
    app: paymentservice
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30200
